# Email Spam filter

### Abstract

### Dependencies

### DataSet
This project used the Dataset downloaded from "https://archive.ics.uci.edu/ml/datasets/Spambase" which refers to sample Project 3 in MSA project AI & Advanced Analysis (A ML model to identify emails are spam or not - Dataset)

In [1]:
import pandas as pd
import numpy as np

dataset = pd.read_csv("dataset/spambase.data", header = None)

In [2]:
dataset.head(20)

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,57
0,0.00,0.64,0.64,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.778,0.000,0.000,3.756,61,278,1
1,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.000,0.132,0.0,0.372,0.180,0.048,5.114,101,1028,1
2,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.010,0.143,0.0,0.276,0.184,0.010,9.821,485,2259,1
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.000,0.137,0.0,0.137,0.000,0.000,3.537,40,191,1
4,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.000,0.135,0.0,0.135,0.000,0.000,3.537,40,191,1
5,0.00,0.00,0.00,0.0,1.85,0.00,0.00,1.85,0.00,0.00,...,0.000,0.223,0.0,0.000,0.000,0.000,3.000,15,54,1
6,0.00,0.00,0.00,0.0,1.92,0.00,0.00,0.00,0.00,0.64,...,0.000,0.054,0.0,0.164,0.054,0.000,1.671,4,112,1
7,0.00,0.00,0.00,0.0,1.88,0.00,0.00,1.88,0.00,0.00,...,0.000,0.206,0.0,0.000,0.000,0.000,2.450,11,49,1
8,0.15,0.00,0.46,0.0,0.61,0.00,0.30,0.00,0.92,0.76,...,0.000,0.271,0.0,0.181,0.203,0.022,9.744,445,1257,1
9,0.06,0.12,0.77,0.0,0.19,0.32,0.38,0.00,0.06,0.00,...,0.040,0.030,0.0,0.244,0.081,0.000,1.729,43,749,1
10,0.00,0.00,0.00,0.0,0.00,0.00,0.96,0.00,0.00,1.92,...,0.000,0.000,0.0,0.462,0.000,0.000,1.312,6,21,1
11,0.00,0.00,0.25,0.0,0.38,0.25,0.25,0.00,0.00,0.00,...,0.022,0.044,0.0,0.663,0.000,0.000,1.243,11,184,1
12,0.00,0.69,0.34,0.0,0.34,0.00,0.00,0.00,0.00,0.00,...,0.000,0.056,0.0,0.786,0.000,0.000,3.728,61,261,1
13,0.00,0.00,0.00,0.0,0.90,0.00,0.90,0.00,0.00,0.90,...,0.000,0.000,0.0,0.000,0.000,0.000,2.083,7,25,1
14,0.00,0.00,1.42,0.0,0.71,0.35,0.00,0.35,0.00,0.71,...,0.000,0.102,0.0,0.357,0.000,0.000,1.971,24,205,1
15,0.00,0.42,0.42,0.0,1.27,0.00,0.42,0.00,0.00,1.27,...,0.000,0.063,0.0,0.572,0.063,0.000,5.659,55,249,1
16,0.00,0.00,0.00,0.0,0.94,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.428,0.000,0.000,4.652,31,107,1
17,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,1.975,0.370,0.000,35.461,95,461,1
18,0.00,0.00,0.55,0.0,1.11,0.00,0.18,0.00,0.00,0.00,...,0.000,0.182,0.0,0.455,0.000,0.000,1.320,4,70,1
19,0.00,0.63,0.00,0.0,1.59,0.31,0.00,0.00,0.31,0.00,...,0.000,0.275,0.0,0.055,0.496,0.000,3.509,91,186,1

In [3]:
dataset.shape

(4601, 58)

In [4]:
dataset.isnull().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    0
25    0
26    0
27    0
28    0
29    0
30    0
31    0
32    0
33    0
34    0
35    0
36    0
37    0
38    0
39    0
40    0
41    0
42    0
43    0
44    0
45    0
46    0
47    0
48    0
49    0
50    0
51    0
52    0
53    0
54    0
55    0
56    0
57    0
dtype: int64

Removing missing values

spliting the dataset into train dataset and test dataset

In [5]:
train_X1 = pd.DataFrame (dataset.drop(dataset.columns[-1],1).truncate(after = 1472))
train_X2 = pd.DataFrame (dataset.drop(dataset.columns[-1],1).truncate(after = 4043, before = 1813))
train_X = pd.concat([train_X1, train_X2], ignore_index = True)

train_Y1 = dataset[57][:1473]
train_Y2 = dataset[57][1813:4044]
train_Y = pd.concat([train_Y1, train_Y2], ignore_index = True)

test_X1 = pd.DataFrame (dataset.drop(dataset.columns[-1],1).truncate(after = 1812, before = 1473))
test_X2 = pd.DataFrame (dataset.drop(dataset.columns[-1],1).truncate(before = 4044))
test_X = pd.concat([test_X1, test_X2], ignore_index = True)

test_Y1 = dataset[57][1473:1813]
test_Y2 = dataset[57][4044:]
test_Y = pd.concat([test_Y1, test_Y2], ignore_index = True)

In [6]:
print(train_X.head())
print(train_X.describe())

     0     1     2    3     4     5     6     7     8     9   ...    47    48  \
0  0.00  0.64  0.64  0.0  0.32  0.00  0.00  0.00  0.00  0.00  ...   0.0  0.00
1  0.21  0.28  0.50  0.0  0.14  0.28  0.21  0.07  0.00  0.94  ...   0.0  0.00
2  0.06  0.00  0.71  0.0  1.23  0.19  0.19  0.12  0.64  0.25  ...   0.0  0.01
3  0.00  0.00  0.00  0.0  0.63  0.00  0.31  0.63  0.31  0.63  ...   0.0  0.00
4  0.00  0.00  0.00  0.0  0.63  0.00  0.31  0.63  0.31  0.63  ...   0.0  0.00

      49   50     51     52     53     54   55    56
0  0.000  0.0  0.778  0.000  0.000  3.756   61   278
1  0.132  0.0  0.372  0.180  0.048  5.114  101  1028
2  0.143  0.0  0.276  0.184  0.010  9.821  485  2259
3  0.137  0.0  0.137  0.000  0.000  3.537   40   191
4  0.135  0.0  0.135  0.000  0.000  3.537   40   191

[5 rows x 57 columns]
                0            1            2            3            4   \
count  3704.000000  3704.000000  3704.000000  3704.000000  3704.000000
mean      0.099168     0.231471     0.268278     0.074954     0.336037
std       0.283706     1.415565     0.486980     1.520433     0.708608
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     0.000000     0.000000
50%       0.000000     0.000000     0.000000     0.000000     0.000000
75%       0.000000     0.000000     0.400000     0.000000     0.430000
max       3.940000    14.280000     5.100000    42.810000    10.000000

                5            6            7            8            9   \
count  3704.000000  3704.000000  3704.000000  3704.000000  3704.000000
mean      0.091790     0.119177     0.108491     0.091766     0.221201
std       0.271118     0.392720     0.373818     0.279846     0.600552
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     0.000000     0.000000
50%       0.000000     0.000000     0.000000     0.000000     0.000000
75%       0.000000     0.000000     0.000000     0.000000     0.120000
max       5.880000     7.270000     6.060000     5.260000    18.180000

          ...                47           48           49           50  \
count     ...       3704.000000  3704.000000  3704.000000  3704.000000
mean      ...          0.039322     0.028403     0.141558     0.019440
std       ...          0.317937     0.123359     0.224019     0.120362
min       ...          0.000000     0.000000     0.000000     0.000000
25%       ...          0.000000     0.000000     0.000000     0.000000
50%       ...          0.000000     0.000000     0.069000     0.000000
75%       ...          0.000000     0.000000     0.192000     0.000000
max       ...         10.000000     3.846000     4.271000     4.081000

                51           52           53           54           55  \
count  3704.000000  3704.000000  3704.000000  3704.000000  3704.000000
mean      0.239633     0.076320     0.045836     5.550293    51.605022
std       0.547152     0.241404     0.472246    35.038958   135.674173
min       0.000000     0.000000     0.000000     1.000000     1.000000
25%       0.000000     0.000000     0.000000     1.641000     7.000000
50%       0.000000     0.000000     0.000000     2.291500    14.000000
75%       0.295250     0.053000     0.000000     3.714000    41.250000
max       8.333000     5.300000    19.829000  1102.500000  2204.000000

                56
count  3704.000000
mean    289.536987
std     566.047913
min       1.000000
25%      35.750000
50%     100.000000
75%     278.000000
max    9163.000000

[8 rows x 57 columns]

In [7]:
print(train_Y.head())
print(train_Y.describe())

0    1
1    1
2    1
3    1
4    1
Name: 57, dtype: int64
count    3704.000000
mean        0.397678
std         0.489484
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max         1.000000
Name: 57, dtype: float64

In [8]:
print(test_X.head())
print(test_X.describe())

     0     1     2    3     4     5     6    7     8     9   ...    47     48  \
0  0.10  0.00  0.70  0.0  0.20  0.00  0.00  0.0  0.20  0.30  ...   0.2  0.000
1  0.35  0.10  0.55  0.0  2.15  0.15  0.00  0.0  0.10  0.75  ...   0.0  0.008
2  0.00  0.19  1.08  0.0  0.79  0.79  0.49  0.0  0.89  0.29  ...   0.0  0.000
3  0.61  0.00  0.00  0.0  1.22  0.61  0.61  0.0  0.61  0.00  ...   0.0  0.000
4  0.00  0.00  0.00  0.0  0.00  0.00  0.00  0.0  0.00  0.00  ...   0.0  0.000

      49     50     51     52     53     54   55    56
0  0.141  0.000  0.352  0.056  0.000  9.601  148  1133
1  0.035  0.000  0.149  0.131  0.008  3.629  127   617
2  0.092  0.000  0.417  0.154  0.015  8.323  669  1365
3  0.184  0.000  0.829  0.000  0.000  4.450   34    89
4  0.000  0.145  0.145  0.291  0.000  2.950   11    59

[5 rows x 57 columns]
               0           1           2           3           4           5   \
count  897.000000  897.000000  897.000000  897.000000  897.000000  897.000000
mean     0.126789    0.136800    0.331773    0.026076    0.213891    0.112876
std      0.381370    0.512188    0.567008    0.661141    0.484488    0.284252
min      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
50%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
75%      0.000000    0.000000    0.520000    0.000000    0.210000    0.000000
max      4.540000    9.520000    4.540000   19.730000    4.080000    3.570000

               6           7           8           9       ...       \
count  897.000000  897.000000  897.000000  897.000000      ...
mean     0.093690    0.092096    0.083055    0.314615      ...
std      0.385655    0.498096    0.273520    0.797895      ...
min      0.000000    0.000000    0.000000    0.000000      ...
25%      0.000000    0.000000    0.000000    0.000000      ...
50%      0.000000    0.000000    0.000000    0.000000      ...
75%      0.000000    0.000000    0.000000    0.270000      ...
max      7.270000   11.110000    2.500000   11.110000      ...

               47          48          49          50          51          52  \
count  897.000000  897.000000  897.000000  897.000000  897.000000  897.000000
mean     0.001093    0.080579    0.128592    0.006803    0.390629    0.073708
std      0.014735    0.489128    0.409524    0.037912    1.469718    0.263699
min      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
50%      0.000000    0.000000    0.041000    0.000000    0.064000    0.000000
75%      0.000000    0.000000    0.159000    0.000000    0.398000    0.046000
max      0.320000    4.385000    9.752000    0.525000   32.478000    6.003000

               53          54           55            56
count  897.000000  897.000000   897.000000    897.000000
mean     0.037641    3.710008    54.517280    257.490524
std      0.156919    9.587579   344.845715    750.003551
min      0.000000    1.000000     1.000000      1.000000
25%      0.000000    1.400000     5.000000     33.000000
50%      0.000000    2.162000    15.000000     80.000000
75%      0.000000    3.694000    47.000000    216.000000
max      1.998000  239.571000  9989.000000  15841.000000

[8 rows x 57 columns]

In [9]:
print(test_Y.head())
print(test_Y.describe())

0    1
1    1
2    1
3    1
4    1
Name: 57, dtype: int64
count    897.000000
mean       0.379041
std        0.485419
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        1.000000
Name: 57, dtype: float64