# Email Spam filter

### Abstract

### Dependencies

### DataSet
This project used the Dataset downloaded from "https://archive.ics.uci.edu/ml/datasets/Spambase" which refers to sample Project 3 in MSA project AI & Advanced Analysis (A ML model to identify emails are spam or not - Dataset)

In [1]:
import pandas as pd

dataset = pd.read_csv("dataset/spambase.data", header = None)

In [2]:
dataset.head()

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,57
0,0.00,0.64,0.64,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.00,0.000,0.0,0.778,0.000,0.000,3.756,61,278,1
1,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.00,0.132,0.0,0.372,0.180,0.048,5.114,101,1028,1
2,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.01,0.143,0.0,0.276,0.184,0.010,9.821,485,2259,1
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.137,0.0,0.137,0.000,0.000,3.537,40,191,1
4,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.135,0.0,0.135,0.000,0.000,3.537,40,191,1

In [3]:
dataset.shape

(4601, 58)

In [4]:
dataset.isnull().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    0
25    0
26    0
27    0
28    0
29    0
30    0
31    0
32    0
33    0
34    0
35    0
36    0
37    0
38    0
39    0
40    0
41    0
42    0
43    0
44    0
45    0
46    0
47    0
48    0
49    0
50    0
51    0
52    0
53    0
54    0
55    0
56    0
57    0
dtype: int64

Removing missing values

In [5]:
dataset.dropna(inplace=True)
dataset.shape

(4601, 58)

In [6]:
train_X = dataset.truncate(after = 3499)
train_Y = dataset.truncate(after = 3499)

test_X = dataset.truncate(before = 3500).reset_index(drop = True)
test_Y = dataset.truncate(before = 3500).reset_index(drop = True)

In [7]:
print(train_X.describe())
print(train_Y.describe())

                0            1            2            3            4   \
count  3500.000000  3500.000000  3500.000000  3500.000000  3500.000000
mean      0.113797     0.260154     0.298726     0.085917     0.367397
std       0.298178     1.459712     0.497541     1.599105     0.709028
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     0.000000     0.000000
50%       0.000000     0.000000     0.000000     0.000000     0.000000
75%       0.050000     0.000000     0.470000     0.000000     0.500000
max       4.540000    14.280000     5.100000    42.810000    10.000000

                5            6            7            8            9   \
count  3500.000000  3500.000000  3500.000000  3500.000000  3500.000000
mean      0.106894     0.149260     0.126051     0.112209     0.257071
std       0.267576     0.442575     0.419139     0.309540     0.641681
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     0.000000     0.000000
50%       0.000000     0.000000     0.000000     0.000000     0.000000
75%       0.000000     0.000000     0.000000     0.000000     0.252500
max       2.940000     7.270000    11.110000     5.260000    18.180000

          ...                48           49           50           51  \
count     ...       3500.000000  3500.000000  3500.000000  3500.000000
mean      ...          0.025995     0.138411     0.017683     0.298130
std       ...          0.105984     0.267846     0.114883     0.597347
min       ...          0.000000     0.000000     0.000000     0.000000
25%       ...          0.000000     0.000000     0.000000     0.000000
50%       ...          0.000000     0.070000     0.000000     0.058500
75%       ...          0.000000     0.187000     0.000000     0.393000
max       ...          2.053000     9.752000     4.081000     7.843000

                52           53           54           55            56  \
count  3500.000000  3500.000000  3500.000000  3500.000000   3500.000000
mean      0.095887     0.054322     6.157481    63.736571    335.498857
std       0.276486     0.490077    36.315562   221.875026    673.024043
min       0.000000     0.000000     1.000000     1.000000      1.000000
25%       0.000000     0.000000     1.764750     9.000000     45.000000
50%       0.000000     0.000000     2.510500    18.000000    119.000000
75%       0.107000     0.000000     4.090750    52.250000    339.000000
max       6.003000    19.829000  1102.500000  9989.000000  15841.000000

                57
count  3500.000000
mean      0.518000
std       0.499747
min       0.000000
25%       0.000000
50%       1.000000
75%       1.000000
max       1.000000

[8 rows x 58 columns]
                0            1            2            3            4   \
count  3500.000000  3500.000000  3500.000000  3500.000000  3500.000000
mean      0.113797     0.260154     0.298726     0.085917     0.367397
std       0.298178     1.459712     0.497541     1.599105     0.709028
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     0.000000     0.000000
50%       0.000000     0.000000     0.000000     0.000000     0.000000
75%       0.050000     0.000000     0.470000     0.000000     0.500000
max       4.540000    14.280000     5.100000    42.810000    10.000000

                5            6            7            8            9   \
count  3500.000000  3500.000000  3500.000000  3500.000000  3500.000000
mean      0.106894     0.149260     0.126051     0.112209     0.257071
std       0.267576     0.442575     0.419139     0.309540     0.641681
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     0.000000     0.000000
50%       0.000000     0.000000     0.000000     0.000000     0.000000
75%       0.000000     0.000000     0.000000     0.000000     0.252500
max       2.940000     7.270000    11.110000     5.260000    18.180000

          ...                48           49           50           51  \
count     ...       3500.000000  3500.000000  3500.000000  3500.000000
mean      ...          0.025995     0.138411     0.017683     0.298130
std       ...          0.105984     0.267846     0.114883     0.597347
min       ...          0.000000     0.000000     0.000000     0.000000
25%       ...          0.000000     0.000000     0.000000     0.000000
50%       ...          0.000000     0.070000     0.000000     0.058500
75%       ...          0.000000     0.187000     0.000000     0.393000
max       ...          2.053000     9.752000     4.081000     7.843000

                52           53           54           55            56  \
count  3500.000000  3500.000000  3500.000000  3500.000000   3500.000000
mean      0.095887     0.054322     6.157481    63.736571    335.498857
std       0.276486     0.490077    36.315562   221.875026    673.024043
min       0.000000     0.000000     1.000000     1.000000      1.000000
25%       0.000000     0.000000     1.764750     9.000000     45.000000
50%       0.000000     0.000000     2.510500    18.000000    119.000000
75%       0.107000     0.000000     4.090750    52.250000    339.000000
max       6.003000    19.829000  1102.500000  9989.000000  15841.000000

                57
count  3500.000000
mean      0.518000
std       0.499747
min       0.000000
25%       0.000000
50%       1.000000
75%       1.000000
max       1.000000

[8 rows x 58 columns]

In [8]:
print(test_X.describe())
print(test_Y.describe())

                0            1            2            3            4   \
count  1101.000000  1101.000000  1101.000000  1101.000000  1101.000000
mean      0.075168     0.063161     0.223215     0.000282     0.136830
std       0.325539     0.397336     0.520658     0.009343     0.501736
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     0.000000     0.000000
50%       0.000000     0.000000     0.000000     0.000000     0.000000
75%       0.000000     0.000000     0.210000     0.000000     0.000000
max       4.340000     9.520000     4.540000     0.310000     8.330000

                5            6           7            8            9    ...    \
count  1101.000000  1101.000000  1101.00000  1101.000000  1101.000000   ...
mean      0.060954     0.002779     0.03931     0.019682     0.183279   ...
std       0.290175     0.037069     0.32884     0.115429     0.651553   ...
min       0.000000     0.000000     0.00000     0.000000     0.000000   ...
25%       0.000000     0.000000     0.00000     0.000000     0.000000   ...
50%       0.000000     0.000000     0.00000     0.000000     0.000000   ...
75%       0.000000     0.000000     0.00000     0.000000     0.000000   ...
max       5.880000     0.680000     5.88000     1.280000    11.110000   ...

                48           49           50           51           52  \
count  1101.000000  1101.000000  1101.000000  1101.000000  1101.000000
mean      0.078565     0.140999     0.014727     0.176693     0.011991
std       0.458320     0.278299     0.089752     1.279060     0.065590
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     0.000000     0.000000
50%       0.000000     0.000000     0.000000     0.000000     0.000000
75%       0.000000     0.191000     0.000000     0.057000     0.000000
max       4.385000     5.277000     1.634000    32.478000     0.903000

                53           54           55           56      57
count  1101.000000  1101.000000  1101.000000  1101.000000  1101.0
mean      0.012183     2.120778    15.412352   117.318801     0.0
std       0.074333     1.620172    21.608264   245.773138     0.0
min       0.000000     1.000000     1.000000     1.000000     0.0
25%       0.000000     1.192000     3.000000    15.000000     0.0
50%       0.000000     1.686000     8.000000    48.000000     0.0
75%       0.000000     2.400000    17.000000   115.000000     0.0
max       1.403000    17.952000   208.000000  3467.000000     0.0

[8 rows x 58 columns]
                0            1            2            3            4   \
count  1101.000000  1101.000000  1101.000000  1101.000000  1101.000000
mean      0.075168     0.063161     0.223215     0.000282     0.136830
std       0.325539     0.397336     0.520658     0.009343     0.501736
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     0.000000     0.000000
50%       0.000000     0.000000     0.000000     0.000000     0.000000
75%       0.000000     0.000000     0.210000     0.000000     0.000000
max       4.340000     9.520000     4.540000     0.310000     8.330000

                5            6           7            8            9    ...    \
count  1101.000000  1101.000000  1101.00000  1101.000000  1101.000000   ...
mean      0.060954     0.002779     0.03931     0.019682     0.183279   ...
std       0.290175     0.037069     0.32884     0.115429     0.651553   ...
min       0.000000     0.000000     0.00000     0.000000     0.000000   ...
25%       0.000000     0.000000     0.00000     0.000000     0.000000   ...
50%       0.000000     0.000000     0.00000     0.000000     0.000000   ...
75%       0.000000     0.000000     0.00000     0.000000     0.000000   ...
max       5.880000     0.680000     5.88000     1.280000    11.110000   ...

                48           49           50           51           52  \
count  1101.000000  1101.000000  1101.000000  1101.000000  1101.000000
mean      0.078565     0.140999     0.014727     0.176693     0.011991
std       0.458320     0.278299     0.089752     1.279060     0.065590
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     0.000000     0.000000
50%       0.000000     0.000000     0.000000     0.000000     0.000000
75%       0.000000     0.191000     0.000000     0.057000     0.000000
max       4.385000     5.277000     1.634000    32.478000     0.903000

                53           54           55           56      57
count  1101.000000  1101.000000  1101.000000  1101.000000  1101.0
mean      0.012183     2.120778    15.412352   117.318801     0.0
std       0.074333     1.620172    21.608264   245.773138     0.0
min       0.000000     1.000000     1.000000     1.000000     0.0
25%       0.000000     1.192000     3.000000    15.000000     0.0
50%       0.000000     1.686000     8.000000    48.000000     0.0
75%       0.000000     2.400000    17.000000   115.000000     0.0
max       1.403000    17.952000   208.000000  3467.000000     0.0

[8 rows x 58 columns]

In [9]:
from keras.models import Sequential
from keras.layers import Dense
from keras.layers.embeddings import Embedding
from keras.layers import Flatten

embedding_vector_length = 32
model = Sequential()
# model.add(Embedding(top_words, embedding_vector_length, input_length=max_review_length))
model.add(Flatten())
model.add(Dense(16, activation='relu'))
model.add(Dense(16, activation='relu'))
model.add(Dense(1, activation='sigmoid'))
model.compile(loss='binary_crossentropy',optimizer='adam', metrics=['accuracy'])
print(model.summary())

Using TensorFlow backend.

ValueError: This model has not yet been built. Build the model first by calling build() or calling fit() with some data. Or specify input_shape or batch_input_shape in the first layer for automatic build.