# Email Spam filter

### Abstract

### Dependencies

### DataSet
This project used the Dataset downloaded from "https://archive.ics.uci.edu/ml/datasets/Spambase" which refers to sample Project 3 in MSA project AI & Advanced Analysis (A ML model to identify emails are spam or not - Dataset)

In [1]:
import pandas as pd
import numpy as np

dataset = pd.read_csv("dataset/spambase.data", header = None)

In [2]:
dataset.head()

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,57
0,0.00,0.64,0.64,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.00,0.000,0.0,0.778,0.000,0.000,3.756,61,278,1
1,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.00,0.132,0.0,0.372,0.180,0.048,5.114,101,1028,1
2,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.01,0.143,0.0,0.276,0.184,0.010,9.821,485,2259,1
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.137,0.0,0.137,0.000,0.000,3.537,40,191,1
4,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.135,0.0,0.135,0.000,0.000,3.537,40,191,1

In [3]:
dataset.shape

(4601, 58)

In [4]:
dataset.isnull().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    0
25    0
26    0
27    0
28    0
29    0
30    0
31    0
32    0
33    0
34    0
35    0
36    0
37    0
38    0
39    0
40    0
41    0
42    0
43    0
44    0
45    0
46    0
47    0
48    0
49    0
50    0
51    0
52    0
53    0
54    0
55    0
56    0
57    0
dtype: int64

The output of above cell is all zero, which indicates that the dataset has no missing values and don not need data cleaning.

Next, I am spliting the dataset into train dataset and test dataset. I've set the train test ratio to be 80/20, which is a very commonly used ratio number.

In [5]:
from sklearn.model_selection import train_test_split
train_X, test_X, train_Y, test_Y = train_test_split(dataset.drop(dataset.columns[-1],1), dataset[57], train_size = 0.8, test_size = 0.2, random_state = 4)

Since the index is random after splitting, I need to reset all the indexes.

In [6]:
train_X = train_X.reset_index(drop = True)
train_Y = train_Y.reset_index(drop = True)
test_X = test_X.reset_index(drop = True)
test_Y = test_Y.reset_index(drop = True)

Checking the data is now what I expected.

In [7]:
print(train_X.head())
print(train_X.describe())

     0     1     2    3     4     5     6     7     8     9  ...    47    48  \
0  0.00  0.00  0.00  0.0  0.00  0.00  0.00  0.00  0.00  0.00 ...   0.0  0.00
1  0.18  0.00  0.18  0.0  1.59  0.36  0.00  0.06  0.06  0.06 ...   0.0  0.01
2  0.17  0.00  0.17  0.0  1.45  0.34  0.05  0.05  0.05  0.05 ...   0.0  0.01
3  0.00  0.18  0.00  0.0  0.18  0.00  0.00  0.37  0.00  0.00 ...   0.0  0.00
4  0.64  0.00  0.64  0.0  1.29  0.00  0.64  0.00  0.00  0.00 ...   0.0  0.00

      49   50     51     52   53     54  55   56
0  0.000  0.0  0.000  0.000  0.0  1.250   2   10
1  0.052  0.0  0.010  0.169  0.0  1.748  12  444
2  0.051  0.0  0.020  0.163  0.0  1.796  12  460
3  0.244  0.0  0.000  0.000  0.0  1.663  10  168
4  0.104  0.0  0.522  0.313  0.0  2.511  22  113

[5 rows x 57 columns]
                0            1            2            3            4   \
count  3680.000000  3680.000000  3680.000000  3680.000000  3680.000000
mean      0.100557     0.220856     0.281940     0.078959     0.308234
std       0.295054     1.328651     0.503077     1.554935     0.667112
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     0.000000     0.000000
50%       0.000000     0.000000     0.000000     0.000000     0.000000
75%       0.000000     0.000000     0.430000     0.000000     0.370000
max       4.540000    14.280000     5.100000    42.810000    10.000000

                5            6            7            8            9   \
count  3680.000000  3680.000000  3680.000000  3680.000000  3680.000000
mean      0.095962     0.115802     0.105799     0.090495     0.244258
std       0.277757     0.388546     0.407232     0.282401     0.665957
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     0.000000     0.000000
50%       0.000000     0.000000     0.000000     0.000000     0.000000
75%       0.000000     0.000000     0.000000     0.000000     0.170000
max       5.880000     7.270000    11.110000     5.260000    18.180000

           ...                47           48           49           50  \
count      ...       3680.000000  3680.000000  3680.000000  3680.000000
mean       ...          0.030859     0.037974     0.139674     0.017180
std        ...          0.262910     0.232633     0.272871     0.117157
min        ...          0.000000     0.000000     0.000000     0.000000
25%        ...          0.000000     0.000000     0.000000     0.000000
50%        ...          0.000000     0.000000     0.066000     0.000000
75%        ...          0.000000     0.000000     0.190250     0.000000
max        ...         10.000000     4.385000     9.752000     4.081000

                51           52           53           54           55  \
count  3680.000000  3680.000000  3680.000000  3680.000000  3680.000000
mean      0.254529     0.076704     0.047115     5.373153    53.430707
std       0.598344     0.247323     0.472059    34.342942   209.476949
min       0.000000     0.000000     0.000000     1.000000     1.000000
25%       0.000000     0.000000     0.000000     1.590000     6.000000
50%       0.000000     0.000000     0.000000     2.285000    15.000000
75%       0.312250     0.052000     0.000000     3.746250    43.000000
max       9.575000     6.003000    19.829000  1102.500000  9989.000000

                 56
count   3680.000000
mean     285.836141
std      631.184829
min        1.000000
25%       34.000000
50%       94.000000
75%      266.000000
max    15841.000000

[8 rows x 57 columns]

In [8]:
print(train_Y.head())
print(train_Y.describe())

0    0
1    1
2    1
3    0
4    1
Name: 57, dtype: int64
count    3680.000000
mean        0.395109
std         0.488940
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max         1.000000
Name: 57, dtype: float64

In [9]:
print(test_X.head())
print(test_X.describe())

     0    1    2    3     4     5    6    7    8    9  ...   47     48     49  \
0  0.00  0.0  0.0  0.0  0.00  0.79  0.0  0.0  0.0  0.0 ...  0.0  0.000  0.147
1  0.00  0.8  0.0  0.0  0.00  0.00  0.0  0.0  0.0  1.6 ...  0.0  0.000  0.000
2  0.00  0.0  0.0  0.0  0.81  0.00  0.0  0.0  0.0  0.0 ...  0.0  0.000  0.143
3  0.00  0.0  0.0  0.0  0.00  0.00  0.0  0.0  0.0  0.0 ...  0.0  0.000  0.000
4  0.74  0.0  0.0  0.0  0.00  0.00  0.0  0.0  0.0  0.0 ...  0.0  0.134  0.672

    50     51   52   53     54  55  56
0  0.0  0.000  0.0  0.0  2.913  27  67
1  0.0  0.235  0.0  0.0  1.380   4  29
2  0.0  0.143  0.0  0.0  1.055   2  19
3  0.0  3.048  0.0  0.0  1.000   1   8
4  0.0  0.000  0.0  0.0  1.863   5  41

[5 rows x 57 columns]
               0           1           2           3           4           5   \
count  921.000000  921.000000  921.000000  921.000000  921.000000  921.000000
mean     0.120521    0.181683    0.275527    0.011346    0.328165    0.095657
std      0.343169    1.125771    0.508622    0.244772    0.693816    0.257655
min      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
50%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
75%      0.050000    0.000000    0.380000    0.000000    0.430000    0.000000
max      4.340000   14.280000    4.340000    7.180000    8.330000    3.440000

               6           7           8           9      ...       \
count  921.000000  921.000000  921.000000  921.000000     ...
mean     0.107839    0.103279    0.088360    0.220054     ...
std      0.402956    0.375653    0.263089    0.551873     ...
min      0.000000    0.000000    0.000000    0.000000     ...
25%      0.000000    0.000000    0.000000    0.000000     ...
50%      0.000000    0.000000    0.000000    0.000000     ...
75%      0.000000    0.000000    0.000000    0.130000     ...
max      7.270000    6.060000    2.290000    5.260000     ...

               47          48          49          50          51          52  \
count  921.000000  921.000000  921.000000  921.000000  921.000000  921.000000
mean     0.035907    0.040974    0.136458    0.016159    0.327176    0.072240
std      0.363028    0.282791    0.260190    0.070331    1.375029    0.240135
min      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
50%      0.000000    0.000000    0.058000    0.000000    0.016000    0.000000
75%      0.000000    0.000000    0.175000    0.000000    0.329000    0.053000
max      8.330000    4.367000    4.271000    1.176000   32.478000    5.300000

               53          54           55           56
count  921.000000  921.000000   921.000000   921.000000
mean     0.032743    4.465754    47.146580   273.112921
std      0.174328   17.794989   120.028417   494.989745
min      0.000000    1.000000     1.000000     1.000000
25%      0.000000    1.586000     6.000000    37.000000
50%      0.000000    2.227000    14.000000    97.000000
75%      0.000000    3.552000    45.000000   262.000000
max      3.423000  337.250000  1505.000000  3752.000000

[8 rows x 57 columns]

In [10]:
print(test_Y.head())
print(test_Y.describe())

0    1
1    0
2    0
3    0
4    0
Name: 57, dtype: int64
count    921.000000
mean       0.389794
std        0.487968
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        1.000000
Name: 57, dtype: float64